In [27]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress

import json

In [28]:
#Data Set Option 1: csv file

# File to Load 
file_to_load = "XAU_USD2000_2020.csv"

gold_df = pd.read_csv(file_to_load)

gold_df

           Date     Price      Open      High       Low Change %
0     14-Aug-20  1,943.76  1,953.70  1,962.84  1,932.65   -0.48%
1     13-Aug-20  1,953.03  1,920.90  1,966.43  1,912.93    1.84%
2     12-Aug-20  1,917.82  1,912.00  1,949.45  1,864.30    0.34%
3     11-Aug-20  1,911.25  2,027.34  2,032.19  1,901.69   -5.72%
4     10-Aug-20  2,027.26  2,034.19  2,050.01  2,019.41   -0.36%
...         ...       ...       ...       ...       ...      ...
5364   7-Jan-00    281.75    281.15    281.75    281.75    0.18%
5365   6-Jan-00    281.23    280.12    281.23    281.23    0.08%
5366   5-Jan-00       281     281.5       281       281   -0.51%
5367   4-Jan-00    282.45    288.75    282.45    282.45   -2.27%
5368   3-Jan-00       289     288.5       289       289    0.26%

[5369 rows x 6 columns]

In [61]:
#Data Set Option 1: csv file

# File to Load 
file_to_load2 = "SPYHistorical2000_2020.csv"

spy_df = pd.read_csv(file_to_load2)

spy_df["Date"] = pd.to_datetime(spy_df['Date']) 
spy_df = spy_df.replace(',','', regex=True)
spy_df['Daily_Change'] = spy_df['Price'].astype(float) - spy_df['Open'].astype(float)
spy_df['Daily_Change']
spy_df = spy_df[["Date", "Price", "Open", "High", "Low", 'Change %', 'Daily_Change']]
spy_df.rename(columns = {"Price": "close"})
spy_df

           Date   Price    Open    High     Low Change %  Daily_Change
0    2020-08-14  336.84  336.41  337.42  335.62    0.00%          0.43
1    2020-08-13  336.83  337.02  338.25  335.85   -0.18%         -0.19
2    2020-08-12  337.44  335.56  338.28  335.56    1.39%          1.88
3    2020-08-11  332.80  336.95  337.52  332.05   -0.83%         -4.15
4    2020-08-10  335.57  335.05  335.76  332.98    0.30%          0.52
...         ...     ...     ...     ...     ...      ...           ...
5199 2000-01-07  145.75  140.31  145.75  140.06    5.81%          5.44
5200 2000-01-06  137.75  139.62  141.50  137.75   -1.61%         -1.87
5201 2000-01-05  140.00  139.94  141.53  137.25    0.18%          0.06
5202 2000-01-04  139.75  143.53  144.06  139.64   -3.91%         -3.78
5203 2000-01-03  145.44  148.25  148.25  143.88   -0.98%         -2.81

[5204 rows x 7 columns]

In [29]:
gold_df["Date"] = pd.to_datetime(gold_df['Date'])

In [30]:
gold_df

           Date     Price      Open      High       Low Change %
0    2020-08-14  1,943.76  1,953.70  1,962.84  1,932.65   -0.48%
1    2020-08-13  1,953.03  1,920.90  1,966.43  1,912.93    1.84%
2    2020-08-12  1,917.82  1,912.00  1,949.45  1,864.30    0.34%
3    2020-08-11  1,911.25  2,027.34  2,032.19  1,901.69   -5.72%
4    2020-08-10  2,027.26  2,034.19  2,050.01  2,019.41   -0.36%
...         ...       ...       ...       ...       ...      ...
5364 2000-01-07    281.75    281.15    281.75    281.75    0.18%
5365 2000-01-06    281.23    280.12    281.23    281.23    0.08%
5366 2000-01-05       281     281.5       281       281   -0.51%
5367 2000-01-04    282.45    288.75    282.45    282.45   -2.27%
5368 2000-01-03       289     288.5       289       289    0.26%

[5369 rows x 6 columns]

In [47]:
gold_df

           Date     Price      Open      High       Low Change %
0    2020-08-14  1,943.76  1,953.70  1,962.84  1,932.65   -0.48%
1    2020-08-13  1,953.03  1,920.90  1,966.43  1,912.93    1.84%
2    2020-08-12  1,917.82  1,912.00  1,949.45  1,864.30    0.34%
3    2020-08-11  1,911.25  2,027.34  2,032.19  1,901.69   -5.72%
4    2020-08-10  2,027.26  2,034.19  2,050.01  2,019.41   -0.36%
...         ...       ...       ...       ...       ...      ...
5364 2000-01-07    281.75    281.15    281.75    281.75    0.18%
5365 2000-01-06    281.23    280.12    281.23    281.23    0.08%
5366 2000-01-05       281     281.5       281       281   -0.51%
5367 2000-01-04    282.45    288.75    282.45    282.45   -2.27%
5368 2000-01-03       289     288.5       289       289    0.26%

[5369 rows x 6 columns]

In [97]:
gold_df = gold_df.replace(',','', regex=True)

In [98]:
gold_df['Daily_Change'] = gold_df['Price'].astype(float) - gold_df['Open'].astype(float)

In [99]:
gold_df['Daily_Change']

0        -9.94
1        32.13
2         5.82
3      -116.09
4        -6.93
         ...
5364      0.60
5365      1.11
5366     -0.50
5367     -6.30
5368      0.50
Name: Daily_Change, Length: 5369, dtype: float64

In [101]:
gold_df = gold_df[["Date", "Price", "Open", "High", "Low", 'Change %', 'Daily_Change']]

In [103]:
gold_df.rename(columns = {"Price": "close"})

           Date    close     Open     High      Low Change %  Daily_Change
0    2020-08-14  1943.76  1953.70  1962.84  1932.65   -0.48%         -9.94
1    2020-08-13  1953.03  1920.90  1966.43  1912.93    1.84%         32.13
2    2020-08-12  1917.82  1912.00  1949.45  1864.30    0.34%          5.82
3    2020-08-11  1911.25  2027.34  2032.19  1901.69   -5.72%       -116.09
4    2020-08-10  2027.26  2034.19  2050.01  2019.41   -0.36%         -6.93
...         ...      ...      ...      ...      ...      ...           ...
5364 2000-01-07   281.75   281.15   281.75   281.75    0.18%          0.60
5365 2000-01-06   281.23   280.12   281.23   281.23    0.08%          1.11
5366 2000-01-05      281    281.5      281      281   -0.51%         -0.50
5367 2000-01-04   282.45   288.75   282.45   282.45   -2.27%         -6.30
5368 2000-01-03      289    288.5      289      289    0.26%          0.50

[5369 rows x 7 columns]

In [88]:
greatest_change = new_gold.loc[new_gold['Change %'] >= '4.00%']

In [89]:
greatest_change

           Date     Close      Open      High       Low Change %
103  2020-03-24  1,622.03  1,553.71  1,638.72  1,553.41    4.39%
1077 2016-06-24  1,315.98  1,253.86  1,358.70  1,251.66    4.80%
1173 2016-02-11  1,246.89  1,197.44  1,260.98  1,196.21    4.13%
1798 2013-09-18  1,365.15  1,309.70  1,367.77  1,291.95    4.24%
2135 2012-06-01  1,626.25  1,560.45  1,630.02  1,545.30    4.20%
3010 2009-01-23     899.4     856.6     903.5     852.8    4.88%
3042 2008-12-10    808.75    776.35     814.1    774.65    4.14%
3055 2008-11-21       800     744.6     802.2     743.9    7.15%
3068 2008-11-04     765.4       724     768.7     722.6    5.88%
4928 2001-09-11     288.5    273.65     288.5     288.5    6.16%
5010 2001-05-18    286.35     273.6    286.35    286.35    4.68%
5344 2000-02-04     315.2    287.75     315.2     315.2    9.67%

0       1,943.76
1       1,953.03
2       1,917.82
3       1,911.25
4       2,027.26
          ...
5364      281.75
5365      281.23
5366         281
5367      282.45
5368         289
Name: Close, Length: 5369, dtype: object

In [31]:
# Data Set Option 2 : If we want to use the API and go with gold index

# Import API key
from api_keys import gold_api_key

url = "https://www.alphavantage.co/query?"
function = "TIME_SERIES_MONTHLY"
gold_index_company = "GOLD"

#url = "https://www.alphavantage.co/query?function=TIME_SERIES_MONTHLY&symbol=GOLD&apikey=8129Z9HHTPE5U5JY"

query_url = url + "function=" + function + "&symbol=" + gold_index_company + "&apikey=" + gold_api_key

query_url

'https://www.alphavantage.co/query?function=TIME_SERIES_MONTHLY&symbol=GOLD&apikey=8129Z9HHTPE5U5JY'

In [32]:
# Get GOLD index data
try:
    gold_response = requests.get(query_url)
    gold_json = gold_response.json() 
except:
    print("Error loadind data from API @ Alphavantage")

gold_json

{'Meta Data': {'1. Information': 'Monthly Prices (open, high, low, close) and Volumes',
  '2. Symbol': 'GOLD',
  '3. Last Refreshed': '2020-08-20',
  '4. Time Zone': 'US/Eastern'},
 'Monthly Time Series': {'2020-08-20': {'1. open': '28.8000',
   '2. high': '31.2200',
   '3. low': '25.8700',
   '4. close': '29.9500',
   '5. volume': '339358405'},
  '2020-07-31': {'1. open': '26.9800',
   '2. high': '30.2000',
   '3. low': '25.8800',
   '4. close': '28.9100',
   '5. volume': '344142856'},
  '2020-06-30': {'1. open': '24.1000',
   '2. high': '27.0400',
   '3. low': '22.1300',
   '4. close': '26.9400',
   '5. volume': '385135435'},
  '2020-05-29': {'1. open': '25.2800',
   '2. high': '28.3600',
   '3. low': '23.0600',
   '4. close': '24.0000',
   '5. volume': '371913554'},
  '2020-04-30': {'1. open': '18.4100',
   '2. high': '28.5000',
   '3. low': '18.2600',
   '4. close': '25.7200',
   '5. volume': '454409620'},
  '2020-03-31': {'1. open': '19.4200',
   '2. high': '21.8300',
   '3. low': '12.6500',
   '4. close': '18.3200',
   '5. volume': '599789243'},
  '2020-02-28': {'1. open': '18.3700',
   '2. high': '22.5700',
   '3. low': '17.6300',
   '4. close': '19.0400',
   '5. volume': '344457675'},
  '2020-01-31': {'1. open': '18.7100',
   '2. high': '19.1700',
   '3. low': '17.2600',
   '4. close': '18.5200',
   '5. volume': '254421406'},
  '2019-12-31': {'1. open': '16.7600',
   '2. high': '18.8300',
   '3. low': '16.7300',
   '4. close': '18.5900',
   '5. volume': '219547830'},
  '2019-11-29': {'1. open': '17.2200',
   '2. high': '17.3200',
   '3. low': '16.0650',
   '4. close': '16.8000',
   '5. volume': '217562449'},
  '2019-10-31': {'1. open': '17.1600',
   '2. high': '18.2100',
   '3. low': '16.4250',
   '4. close': '17.3600',
   '5. volume': '280012077'},
  '2019-09-30': {'1. open': '19.6000',
   '2. high': '19.8900',
   '3. low': '16.9300',
   '4. close': '17.3300',
   '5. volume': '364848109'},
  '2019-08-30': {'1. open': '15.8500',
   '2. high': '20.0700',
   '3. low': '15.8300',
   '4. close': '19.3800',
   '5. volume': '389597131'},
  '2019-07-31': {'1. open': '15.2000',
   '2. high': '17.5000',
   '3. low': '14.8500',
   '4. close': '16.2600',
   '5. volume': '354794334'},
  '2019-06-28': {'1. open': '12.5900',
   '2. high': '16.4500',
   '3. low': '12.5700',
   '4. close': '15.7700',
   '5. volume': '381243096'},
  '2019-05-31': {'1. open': '12.7000',
   '2. high': '13.0100',
   '3. low': '11.6500',
   '4. close': '12.4200',
   '5. volume': '274806400'},
  '2019-04-30': {'1. open': '13.7100',
   '2. high': '13.9600',
   '3. low': '12.6150',
   '4. close': '12.7200',
   '5. volume': '226098307'},
  '2019-03-29': {'1. open': '12.4400',
   '2. high': '14.5400',
   '3. low': '12.1750',
   '4. close': '13.7100',
   '5. volume': '339062862'},
  '2019-02-28': {'1. open': '13.3600',
   '2. high': '14.0400',
   '3. low': '12.2200',
   '4. close': '12.6400',
   '5. volume': '322746134'},
  '2019-01-31': {'1. open': '13.6400',
   '2. high': '13.6900',
   '3. low': '11.5200',
   '4. close': '13.3900',
   '5. volume': '318815244'},
  '2018-12-31': {'1. open': '12.9500',
   '2. high': '14.1800',
   '3. low': '12.6900',
   '4. close': '13.5400',
   '5. volume': '424443792'},
  '2018-11-30': {'1. open': '12.8200',
   '2. high': '13.5500',
   '3. low': '12.2800',
   '4. close': '12.7500',
   '5. volume': '283252751'},
  '2018-10-31': {'1. open': '11.0800',
   '2. high': '14.1000',
   '3. low': '11.0600',
   '4. close': '12.5500',
   '5. volume': '515095891'},
  '2018-09-28': {'1. open': '10.1700',
   '2. high': '11.6400',
   '3. low': '9.5300',
   '4. close': '11.0800',
   '5. volume': '335719799'},
  '2018-08-31': {'1. open': '11.1400',
   '2. high': '11.2900',
   '3. low': '9.7215',
   '4. close': '10.4200',
   '5. volume': '308252814'},
  '2018-07-31': {'1. open': '13.0300',
   '2. high': '13.5900',
   '3. low': '10.9300',
   '4. close': '11.1900',
   '5. volume': '243539361'},
  '2018-06-29': {'1. open': '13.1500',
   '2. high': '13.2500',
   '3. low': '12.5700',
   '4. close': '13.1300',
   '5. volume': '181810635'},
  '2018-05-31': {'1. open': '13.4400',
   '2. high': '13.6700',
   '3. low': '12.9700',
   '4. close': '13.1900',
   '5. volume': '169624529'},
  '2018-04-30': {'1. open': '12.5700',
   '2. high': '13.8000',
   '3. low': '12.3400',
   '4. close': '13.4700',
   '5. volume': '221197653'},
  '2018-03-29': {'1. open': '11.4300',
   '2. high': '12.7900',
   '3. low': '11.0700',
   '4. close': '12.4500',
   '5. volume': '293429719'},
  '2018-02-28': {'1. open': '14.2700',
   '2. high': '14.5200',
   '3. low': '11.5100',
   '4. close': '11.5200',
   '5. volume': '288000525'},
  '2018-01-31': {'1. open': '14.6500',
   '2. high': '15.5200',
   '3. low': '14.1500',
   '4. close': '14.3800',
   '5. volume': '249857925'},
  '2017-12-29': {'1. open': '13.7700',
   '2. high': '14.6760',
   '3. low': '13.2800',
   '4. close': '14.4700',
   '5. volume': '198278521'},
  '2017-11-30': {'1. open': '14.5200',
   '2. high': '14.5600',
   '3. low': '13.4600',
   '4. close': '13.7800',
   '5. volume': '198545816'},
  '2017-10-31': {'1. open': '16.0300',
   '2. high': '16.8350',
   '3. low': '14.4100',
   '4. close': '14.4500',
   '5. volume': '200507469'},
  '2017-09-29': {'1. open': '18.1600',
   '2. high': '18.3500',
   '3. low': '16.0600',
   '4. close': '16.0900',
   '5. volume': '180045268'},
  '2017-08-31': {'1. open': '16.7900',
   '2. high': '18.0900',
   '3. low': '16.3400',
   '4. close': '17.9900',
   '5. volume': '224367027'},
  '2017-07-31': {'1. open': '15.5800',
   '2. high': '17.1200',
   '3. low': '15.2500',
   '4. close': '16.9100',
   '5. volume': '231568840'},
  '2017-06-30': {'1. open': '16.3100',
   '2. high': '17.0400',
   '3. low': '15.5100',
   '4. close': '15.9100',
   '5. volume': '239566324'},
  '2017-05-31': {'1. open': '16.5900',
   '2. high': '17.3800',
   '3. low': '15.8600',
   '4. close': '16.5400',
   '5. volume': '280678850'},
  '2017-04-28': {'1. open': '18.9500',
   '2. high': '20.3650',
   '3. low': '16.5700',
   '4. close': '16.7200',
   '5. volume': '286151373'},
  '2017-03-31': {'1. open': '18.2400',
   '2. high': '19.7700',
   '3. low': '17.3500',
   '4. close': '18.9900',
   '5. volume': '307171616'},
  '2017-02-28': {'1. open': '18.1600',
   '2. high': '20.7800',
   '3. low': '18.0200',
   '4. close': '18.5800',
   '5. volume': '310776372'},
  '2017-01-31': {'1. open': '16.0000',
   '2. high': '18.6000',
   '3. low': '15.8650',
   '4. close': '18.4400',
   '5. volume': '374385367'},
  '2016-12-30': {'1. open': '14.9500',
   '2. high': '16.8400',
   '3. low': '13.8050',
   '4. close': '15.9800',
   '5. volume': '394366424'},
  '2016-11-30': {'1. open': '17.9900',
   '2. high': '18.9500',
   '3. low': '13.9500',
   '4. close': '15.0200',
   '5. volume': '426801832'},
  '2016-10-31': {'1. open': '17.7000',
   '2. high': '17.9400',
   '3. low': '15.3000',
   '4. close': '17.5900',
   '5. volume': '339540996'},
  '2016-09-30': {'1. open': '16.8800',
   '2. high': '19.1900',
   '3. low': '16.7600',
   '4. close': '17.7200',
   '5. volume': '332851805'},
  '2016-08-31': {'1. open': '21.8400',
   '2. high': '22.9400',
   '3. low': '16.7500',
   '4. close': '17.0100',
   '5. volume': '347291680'},
  '2016-07-29': {'1. open': '21.8300',
   '2. high': '23.4700',
   '3. low': '19.5300',
   '4. close': '21.8600',
   '5. volume': '401623268'},
  '2016-06-30': {'1. open': '16.9900',
   '2. high': '21.4300',
   '3. low': '16.6250',
   '4. close': '21.3500',
   '5. volume': '443338847'},
  '2016-05-31': {'1. open': '19.4600',
   '2. high': '19.7300',
   '3. low': '16.2399',
   '4. close': '16.7700',
   '5. volume': '407597519'},
  '2016-04-29': {'1. open': '13.2100',
   '2. high': '19.4000',
   '3. low': '13.0400',
   '4. close': '19.3700',
   '5. volume': '394599245'},
  '2016-03-31': {'1. open': '14.0000',
   '2. high': '15.5200',
   '3. low': '12.6400',
   '4. close': '13.5800',
   '5. volume': '487255251'},
  '2016-02-29': {'1. open': '10.0300',
   '2. high': '14.4500',
   '3. low': '9.6550',
   '4. close': '13.8900',
   '5. volume': '519944131'},
  '2016-01-29': {'1. open': '7.6900',
   '2. high': '9.9500',
   '3. low': '7.3850',
   '4. close': '9.9100',
   '5. volume': '484186132'},
  '2015-12-31': {'1. open': '7.3800',
   '2. high': '8.1000',
   '3. low': '6.9400',
   '4. close': '7.3800',
   '5. volume': '325166831'},
  '2015-11-30': {'1. open': '7.6100',
   '2. high': '8.0000',
   '3. low': '6.9000',
   '4. close': '7.3400',
   '5. volume': '297697203'},
  '2015-10-30': {'1. open': '6.4100',
   '2. high': '8.3300',
   '3. low': '6.1300',
   '4. close': '7.6900',
   '5. volume': '448100754'},
  '2015-09-30': {'1. open': '7.0300',
   '2. high': '7.1800',
   '3. low': '5.9100',
   '4. close': '6.3600',
   '5. volume': '418117556'},
  '2015-08-31': {'1. open': '7.0200',
   '2. high': '8.5150',
   '3. low': '6.5100',
   '4. close': '6.9500',
   '5. volume': '518971256'},
  '2015-07-31': {'1. open': '10.6300',
   '2. high': '11.0000',
   '3. low': '6.7900',
   '4. close': '7.0600',
   '5. volume': '481493778'},
  '2015-06-30': {'1. open': '11.9400',
   '2. high': '12.1700',
   '3. low': '10.5600',
   '4. close': '10.6600',
   '5. volume': '240978712'},
  '2015-05-29': {'1. open': '12.8500',
   '2. high': '13.6050',
   '3. low': '11.5300',
   '4. close': '11.8600',
   '5. volume': '210443083'},
  '2015-04-30': {'1. open': '11.0700',
   '2. high': '13.7000',
   '3. low': '11.0600',
   '4. close': '13.0200',
   '5. volume': '272364425'},
  '2015-03-31': {'1. open': '13.0400',
   '2. high': '13.1100',
   '3. low': '10.2900',
   '4. close': '10.9600',
   '5. volume': '317816044'},
  '2015-02-27': {'1. open': '12.5200',
   '2. high': '13.2400',
   '3. low': '11.8800',
   '4. close': '13.0200',
   '5. volume': '280880703'},
  '2015-01-30': {'1. open': '10.5400',
   '2. high': '13.2500',
   '3. low': '10.1500',
   '4. close': '12.7800',
   '5. volume': '477191470'},
  '2014-12-31': {'1. open': '12.2100',
   '2. high': '12.5200',
   '3. low': '10.0400',
   '4. close': '10.7500',
   '5. volume': '363952597'},
  '2014-11-28': {'1. open': '11.8200',
   '2. high': '13.3250',
   '3. low': '10.9000',
   '4. close': '11.8900',
   '5. volume': '327463091'},
  '2014-10-31': {'1. open': '14.7600',
   '2. high': '15.0300',
   '3. low': '11.3300',
   '4. close': '11.8700',
   '5. volume': '325794920'},
  '2014-09-30': {'1. open': '18.0400',
   '2. high': '18.1300',
   '3. low': '14.5500',
   '4. close': '14.6600',
   '5. volume': '218993340'},
  '2014-08-29': {'1. open': '18.2700',
   '2. high': '19.3600',
   '3. low': '17.7500',
   '4. close': '18.3900',
   '5. volume': '142809097'},
  '2014-07-31': {'1. open': '18.3000',
   '2. high': '19.4900',
   '3. low': '18.0200',
   '4. close': '18.0800',
   '5. volume': '209647056'},
  '2014-06-30': {'1. open': '16.0700',
   '2. high': '18.3400',
   '3. low': '15.6900',
   '4. close': '18.3000',
   '5. volume': '184062150'},
  '2014-05-30': {'1. open': '17.2800',
   '2. high': '17.6500',
   '3. low': '15.4700',
   '4. close': '16.1100',
   '5. volume': '183461557'},
  '2014-04-30': {'1. open': '17.9300',
   '2. high': '19.2200',
   '3. low': '17.1700',
   '4. close': '17.4700',
   '5. volume': '241653889'},
  '2014-03-31': {'1. open': '20.9400',
   '2. high': '21.1000',
   '3. low': '17.7200',
   '4. close': '17.8300',
   '5. volume': '241941744'},
  '2014-02-28': {'1. open': '19.4800',
   '2. high': '21.4500',
   '3. low': '18.3400',
   '4. close': '20.3800',
   '5. volume': '273776366'},
  '2014-01-31': {'1. open': '17.9600',
   '2. high': '19.9500',
   '3. low': '17.5800',
   '4. close': '19.2800',
   '5. volume': '305036970'},
  '2013-12-31': {'1. open': '16.2500',
   '2. high': '17.6500',
   '3. low': '15.2600',
   '4. close': '17.6300',
   '5. volume': '341241436'},
  '2013-11-29': {'1. open': '18.1600',
   '2. high': '18.4600',
   '3. low': '15.9000',
   '4. close': '16.4900',
   '5. volume': '438159102'},
  '2013-10-31': {'1. open': '18.1700',
   '2. high': '20.6200',
   '3. low': '17.1300',
   '4. close': '19.3900',
   '5. volume': '320916076'},
  '2013-09-30': {'1. open': '19.4400',
   '2. high': '20.3899',
   '3. low': '17.3899',
   '4. close': '18.6200',
   '5. volume': '336302179'},
  '2013-08-30': {'1. open': '17.3400',
   '2. high': '21.2000',
   '3. low': '15.5300',
   '4. close': '19.1500',
   '5. volume': '400035692'},
  '2013-07-31': {'1. open': '15.8900',
   '2. high': '18.1500',
   '3. low': '13.4300',
   '4. close': '16.9700',
   '5. volume': '421377532'},
  '2013-06-28': {'1. open': '21.3100',
   '2. high': '21.6800',
   '3. low': '14.6700',
   '4. close': '15.7400',
   '5. volume': '369683913'},
  '2013-05-31': {'1. open': '19.2200',
   '2. high': '21.7000',
   '3. low': '18.4700',
   '4. close': '21.1200',
   '5. volume': '418675100'},
  '2013-04-30': {'1. open': '29.3200',
   '2. high': '29.3900',
   '3. low': '17.5100',
   '4. close': '19.7100',
   '5. volume': '583695616'},
  '2013-03-28': {'1. open': '30.4100',
   '2. high': '30.4600',
   '3. low': '28.3100',
   '4. close': '29.4000',
   '5. volume': '195097157'},
  '2013-02-28': {'1. open': '32.2700',
   '2. high': '33.3600',
   '3. low': '30.1400',
   '4. close': '30.2400',
   '5. volume': '201715386'},
  '2013-01-31': {'1. open': '35.9200',
   '2. high': '36.0800',
   '3. low': '31.8100',
   '4. close': '31.9200',
   '5. volume': '174949777'},
  '2012-12-31': {'1. open': '34.6200',
   '2. high': '35.5300',
   '3. low': '32.8100',
   '4. close': '35.0100',
   '5. volume': '138957115'},
  '2012-11-30': {'1. open': '37.4900',
   '2. high': '38.0000',
   '3. low': '32.8700',
   '4. close': '34.5300',
   '5. volume': '179121743'},
  '2012-10-31': {'1. open': '42.2100',
   '2. high': '42.5400',
   '3. low': '38.2401',
   '4. close': '40.5000',
   '5. volume': '135978922'},
  '2012-09-28': {'1. open': '38.6800',
   '2. high': '43.1900',
   '3. low': '37.2502',
   '4. close': '41.7600',
   '5. volume': '172368953'},
  '2012-08-31': {'1. open': '32.8000',
   '2. high': '38.6800',
   '3. low': '31.4800',
   '4. close': '38.5200',
   '5. volume': '171300080'},
  '2012-07-31': {'1. open': '37.6300',
   '2. high': '39.0000',
   '3. low': '31.0000',
   '4. close': '32.8800',
   '5. volume': '190940461'},
  '2012-06-29': {'1. open': '40.2000',
   '2. high': '43.3000',
   '3. low': '35.5500',
   '4. close': '37.5700',
   '5. volume': '226189903'},
  '2012-05-31': {'1. open': '40.5800',
   '2. high': '40.7600',
   '3. low': '34.8200',
   '4. close': '39.0600',
   '5. volume': '204444868'},
  '2012-04-30': {'1. open': '43.6800',
   '2. high': '44.5000',
   '3. low': '38.4600',
   '4. close': '40.4300',
   '5. volume': '150602794'},
  '2012-03-30': {'1. open': '47.8800',
   '2. high': '48.5900',
   '3. low': '42.2000',
   '4. close': '43.4800',
   '5. volume': '183830924'},
  '2012-02-29': {'1. open': '49.9400',
   '2. high': '50.3900',
   '3. low': '45.8900',
   '4. close': '47.7300',
   '5. volume': '137088986'},
  '2012-01-31': {'1. open': '46.2700',
   '2. high': '50.2300',
   '3. low': '45.2000',
   '4. close': '49.2600',
   '5. volume': '149116448'},
  '2011-12-30': {'1. open': '52.5500',
   '2. high': '53.1400',
   '3. low': '43.7207',
   '4. close': '45.2500',
   '5. volume': '144265837'},
  '2011-11-30': {'1. open': '47.7200',
   '2. high': '53.2600',
   '3. low': '47.1900',
   '4. close': '52.8800',
   '5. volume': '134600542'},
  '2011-10-31': {'1. open': '47.2400',
   '2. high': '50.9900',
   '3. low': '42.8900',
   '4. close': '49.5000',
   '5. volume': '162911653'},
  '2011-09-30': {'1. open': '50.7100',
   '2. high': '55.9500',
   '3. low': '45.1500',
   '4. close': '46.6500',
   '5. volume': '197682087'},
  '2011-08-31': {'1. open': '48.0900',
   '2. high': '52.7800',
   '3. low': '44.5900',
   '4. close': '50.7500',
   '5. volume': '251005962'},
  '2011-07-29': {'1. open': '45.1000',
   '2. high': '51.0000',
   '3. low': '44.2500',
   '4. close': '47.5700',
   '5. volume': '157535520'},
  '2011-06-30': {'1. open': '48.0000',
   '2. high': '48.2200',
   '3. low': '42.5000',
   '4. close': '45.2900',
   '5. volume': '159423256'},
  '2011-05-31': {'1. open': '50.9300',
   '2. high': '51.0000',
   '3. low': '44.2500',
   '4. close': '47.7600',
   '5. volume': '207194426'},
  '2011-04-29': {'1. open': '51.7000',
   '2. high': '55.7400',
   '3. low': '49.5618',
   '4. close': '51.0100',
   '5. volume': '204314374'},
  '2011-03-31': {'1. open': '53.4800',
   '2. high': '54.2600',
   '3. low': '47.9000',
   '4. close': '51.9100',
   '5. volume': '169791574'},
  '2011-02-28': {'1. open': '48.2400',
   '2. high': '53.0100',
   '3. low': '47.1000',
   '4. close': '52.8200',
   '5. volume': '160869644'},
  '2011-01-31': {'1. open': '53.9200',
   '2. high': '53.9300',
   '3. low': '45.6000',
   '4. close': '47.5100',
   '5. volume': '226666634'},
  '2010-12-31': {'1. open': '52.0900',
   '2. high': '55.7200',
   '3. low': '50.6500',
   '4. close': '53.1800',
   '5. volume': '141219875'},
  '2010-11-30': {'1. open': '48.4600',
   '2. high': '53.4400',
   '3. low': '47.6300',
   '4. close': '51.6500',
   '5. volume': '201018912'},
  '2010-10-29': {'1. open': '46.8500',
   '2. high': '49.6600',
   '3. low': '44.8600',
   '4. close': '48.0900',
   '5. volume': '193539685'},
  '2010-09-30': {'1. open': '47.3200',
   '2. high': '47.5600',
   '3. low': '43.8300',
   '4. close': '46.2900',
   '5. volume': '185884399'},
  '2010-08-31': {'1. open': '41.7700',
   '2. high': '47.5000',
   '3. low': '40.6600',
   '4. close': '46.7600',
   '5. volume': '150314900'},
  '2010-07-30': {'1. open': '45.0800',
   '2. high': '45.3400',
   '3. low': '39.6700',
   '4. close': '41.1000',
   '5. volume': '195388198'},
  '2010-06-30': {'1. open': '42.5100',
   '2. high': '47.2500',
   '3. low': '41.1300',
   '4. close': '45.4100',
   '5. volume': '219761446'},
  '2010-05-28': {'1. open': '43.9500',
   '2. high': '47.2100',
   '3. low': '39.9500',
   '4. close': '42.0800',
   '5. volume': '271599427'},
  '2010-04-30': {'1. open': '38.9500',
   '2. high': '44.3700',
   '3. low': '38.1400',
   '4. close': '43.5500',
   '5. volume': '207584878'},
  '2010-03-31': {'1. open': '38.1000',
   '2. high': '40.8000',
   '3. low': '36.6900',
   '4. close': '38.3400',
   '5. volume': '229580534'},
  '2010-02-26': {'1. open': '35.1900',
   '2. high': '40.0000',
   '3. low': '33.6500',
   '4. close': '37.6600',
   '5. volume': '242965617'},
  '2010-01-29': {'1. open': '40.7000',
   '2. high': '42.6400',
   '3. low': '34.6300',
   '4. close': '34.8200',
   '5. volume': '227336979'},
  '2009-12-31': {'1. open': '44.1200',
   '2. high': '48.0200',
   '3. low': '38.1300',
   '4. close': '39.3800',
   '5. volume': '337470148'},
  '2009-11-30': {'1. open': '36.8600',
   '2. high': '45.8200',
   '3. low': '35.5000',
   '4. close': '42.6900',
   '5. volume': '262485788'},
  '2009-10-30': {'1. open': '38.1000',
   '2. high': '40.5100',
   '3. low': '34.5000',
   '4. close': '35.9300',
   '5. volume': '315426165'},
  '2009-09-30': {'1. open': '34.9100',
   '2. high': '42.1000',
   '3. low': '34.4150',
   '4. close': '37.9000',
   '5. volume': '388861490'},
  '2009-08-31': {'1. open': '35.6800',
   '2. high': '36.7100',
   '3. low': '32.1700',
   '4. close': '34.7000',
   '5. volume': '138610399'},
  '2009-07-31': {'1. open': '34.2200',
   '2. high': '36.0300',
   '3. low': '30.6700',
   '4. close': '34.9000',
   '5. volume': '144872926'},
  '2009-06-30': {'1. open': '38.5500',
   '2. high': '38.6300',
   '3. low': '31.6200',
   '4. close': '33.5500',
   '5. volume': '200804262'},
  '2009-05-29': {'1. open': '29.0000',
   '2. high': '38.9600',
   '3. low': '28.7700',
   '4. close': '38.0800',
   '5. volume': '202930587'},
  '2009-04-30': {'1. open': '33.0700',
   '2. high': '34.0400',
   '3. low': '27.0900',
   '4. close': '29.1000',
   '5. volume': '230240622'},
  '2009-03-31': {'1. open': '30.6800',
   '2. high': '34.2400',
   '3. low': '25.5400',

In [33]:

gold_json["Monthly Time Series"]

{'2020-08-20': {'1. open': '28.8000',
  '2. high': '31.2200',
  '3. low': '25.8700',
  '4. close': '29.9500',
  '5. volume': '339358405'},
 '2020-07-31': {'1. open': '26.9800',
  '2. high': '30.2000',
  '3. low': '25.8800',
  '4. close': '28.9100',
  '5. volume': '344142856'},
 '2020-06-30': {'1. open': '24.1000',
  '2. high': '27.0400',
  '3. low': '22.1300',
  '4. close': '26.9400',
  '5. volume': '385135435'},
 '2020-05-29': {'1. open': '25.2800',
  '2. high': '28.3600',
  '3. low': '23.0600',
  '4. close': '24.0000',
  '5. volume': '371913554'},
 '2020-04-30': {'1. open': '18.4100',
  '2. high': '28.5000',
  '3. low': '18.2600',
  '4. close': '25.7200',
  '5. volume': '454409620'},
 '2020-03-31': {'1. open': '19.4200',
  '2. high': '21.8300',
  '3. low': '12.6500',
  '4. close': '18.3200',
  '5. volume': '599789243'},
 '2020-02-28': {'1. open': '18.3700',
  '2. high': '22.5700',
  '3. low': '17.6300',
  '4. close': '19.0400',
  '5. volume': '344457675'},
 '2020-01-31': {'1. open': '18.7100',
  '2. high': '19.1700',
  '3. low': '17.2600',
  '4. close': '18.5200',
  '5. volume': '254421406'},
 '2019-12-31': {'1. open': '16.7600',
  '2. high': '18.8300',
  '3. low': '16.7300',
  '4. close': '18.5900',
  '5. volume': '219547830'},
 '2019-11-29': {'1. open': '17.2200',
  '2. high': '17.3200',
  '3. low': '16.0650',
  '4. close': '16.8000',
  '5. volume': '217562449'},
 '2019-10-31': {'1. open': '17.1600',
  '2. high': '18.2100',
  '3. low': '16.4250',
  '4. close': '17.3600',
  '5. volume': '280012077'},
 '2019-09-30': {'1. open': '19.6000',
  '2. high': '19.8900',
  '3. low': '16.9300',
  '4. close': '17.3300',
  '5. volume': '364848109'},
 '2019-08-30': {'1. open': '15.8500',
  '2. high': '20.0700',
  '3. low': '15.8300',
  '4. close': '19.3800',
  '5. volume': '389597131'},
 '2019-07-31': {'1. open': '15.2000',
  '2. high': '17.5000',
  '3. low': '14.8500',
  '4. close': '16.2600',
  '5. volume': '354794334'},
 '2019-06-28': {'1. open': '12.5900',
  '2. high': '16.4500',
  '3. low': '12.5700',
  '4. close': '15.7700',
  '5. volume': '381243096'},
 '2019-05-31': {'1. open': '12.7000',
  '2. high': '13.0100',
  '3. low': '11.6500',
  '4. close': '12.4200',
  '5. volume': '274806400'},
 '2019-04-30': {'1. open': '13.7100',
  '2. high': '13.9600',
  '3. low': '12.6150',
  '4. close': '12.7200',
  '5. volume': '226098307'},
 '2019-03-29': {'1. open': '12.4400',
  '2. high': '14.5400',
  '3. low': '12.1750',
  '4. close': '13.7100',
  '5. volume': '339062862'},
 '2019-02-28': {'1. open': '13.3600',
  '2. high': '14.0400',
  '3. low': '12.2200',
  '4. close': '12.6400',
  '5. volume': '322746134'},
 '2019-01-31': {'1. open': '13.6400',
  '2. high': '13.6900',
  '3. low': '11.5200',
  '4. close': '13.3900',
  '5. volume': '318815244'},
 '2018-12-31': {'1. open': '12.9500',
  '2. high': '14.1800',
  '3. low': '12.6900',
  '4. close': '13.5400',
  '5. volume': '424443792'},
 '2018-11-30': {'1. open': '12.8200',
  '2. high': '13.5500',
  '3. low': '12.2800',
  '4. close': '12.7500',
  '5. volume': '283252751'},
 '2018-10-31': {'1. open': '11.0800',
  '2. high': '14.1000',
  '3. low': '11.0600',
  '4. close': '12.5500',
  '5. volume': '515095891'},
 '2018-09-28': {'1. open': '10.1700',
  '2. high': '11.6400',
  '3. low': '9.5300',
  '4. close': '11.0800',
  '5. volume': '335719799'},
 '2018-08-31': {'1. open': '11.1400',
  '2. high': '11.2900',
  '3. low': '9.7215',
  '4. close': '10.4200',
  '5. volume': '308252814'},
 '2018-07-31': {'1. open': '13.0300',
  '2. high': '13.5900',
  '3. low': '10.9300',
  '4. close': '11.1900',
  '5. volume': '243539361'},
 '2018-06-29': {'1. open': '13.1500',
  '2. high': '13.2500',
  '3. low': '12.5700',
  '4. close': '13.1300',
  '5. volume': '181810635'},
 '2018-05-31': {'1. open': '13.4400',
  '2. high': '13.6700',
  '3. low': '12.9700',
  '4. close': '13.1900',
  '5. volume': '169624529'},
 '2018-04-30': {'1. open': '12.5700',
  '2. high': '13.8000',
  '3. low': '12.3400',
  '4. close': '13.4700',
  '5. volume': '221197653'},
 '2018-03-29': {'1. open': '11.4300',
  '2. high': '12.7900',
  '3. low': '11.0700',
  '4. close': '12.4500',
  '5. volume': '293429719'},
 '2018-02-28': {'1. open': '14.2700',
  '2. high': '14.5200',
  '3. low': '11.5100',
  '4. close': '11.5200',
  '5. volume': '288000525'},
 '2018-01-31': {'1. open': '14.6500',
  '2. high': '15.5200',
  '3. low': '14.1500',
  '4. close': '14.3800',
  '5. volume': '249857925'},
 '2017-12-29': {'1. open': '13.7700',
  '2. high': '14.6760',
  '3. low': '13.2800',
  '4. close': '14.4700',
  '5. volume': '198278521'},
 '2017-11-30': {'1. open': '14.5200',
  '2. high': '14.5600',
  '3. low': '13.4600',
  '4. close': '13.7800',
  '5. volume': '198545816'},
 '2017-10-31': {'1. open': '16.0300',
  '2. high': '16.8350',
  '3. low': '14.4100',
  '4. close': '14.4500',
  '5. volume': '200507469'},
 '2017-09-29': {'1. open': '18.1600',
  '2. high': '18.3500',
  '3. low': '16.0600',
  '4. close': '16.0900',
  '5. volume': '180045268'},
 '2017-08-31': {'1. open': '16.7900',
  '2. high': '18.0900',
  '3. low': '16.3400',
  '4. close': '17.9900',
  '5. volume': '224367027'},
 '2017-07-31': {'1. open': '15.5800',
  '2. high': '17.1200',
  '3. low': '15.2500',
  '4. close': '16.9100',
  '5. volume': '231568840'},
 '2017-06-30': {'1. open': '16.3100',
  '2. high': '17.0400',
  '3. low': '15.5100',
  '4. close': '15.9100',
  '5. volume': '239566324'},
 '2017-05-31': {'1. open': '16.5900',
  '2. high': '17.3800',
  '3. low': '15.8600',
  '4. close': '16.5400',
  '5. volume': '280678850'},
 '2017-04-28': {'1. open': '18.9500',
  '2. high': '20.3650',
  '3. low': '16.5700',
  '4. close': '16.7200',
  '5. volume': '286151373'},
 '2017-03-31': {'1. open': '18.2400',
  '2. high': '19.7700',
  '3. low': '17.3500',
  '4. close': '18.9900',
  '5. volume': '307171616'},
 '2017-02-28': {'1. open': '18.1600',
  '2. high': '20.7800',
  '3. low': '18.0200',
  '4. close': '18.5800',
  '5. volume': '310776372'},
 '2017-01-31': {'1. open': '16.0000',
  '2. high': '18.6000',
  '3. low': '15.8650',
  '4. close': '18.4400',
  '5. volume': '374385367'},
 '2016-12-30': {'1. open': '14.9500',
  '2. high': '16.8400',
  '3. low': '13.8050',
  '4. close': '15.9800',
  '5. volume': '394366424'},
 '2016-11-30': {'1. open': '17.9900',
  '2. high': '18.9500',
  '3. low': '13.9500',
  '4. close': '15.0200',
  '5. volume': '426801832'},
 '2016-10-31': {'1. open': '17.7000',
  '2. high': '17.9400',
  '3. low': '15.3000',
  '4. close': '17.5900',
  '5. volume': '339540996'},
 '2016-09-30': {'1. open': '16.8800',
  '2. high': '19.1900',
  '3. low': '16.7600',
  '4. close': '17.7200',
  '5. volume': '332851805'},
 '2016-08-31': {'1. open': '21.8400',
  '2. high': '22.9400',
  '3. low': '16.7500',
  '4. close': '17.0100',
  '5. volume': '347291680'},
 '2016-07-29': {'1. open': '21.8300',
  '2. high': '23.4700',
  '3. low': '19.5300',
  '4. close': '21.8600',
  '5. volume': '401623268'},
 '2016-06-30': {'1. open': '16.9900',
  '2. high': '21.4300',
  '3. low': '16.6250',
  '4. close': '21.3500',
  '5. volume': '443338847'},
 '2016-05-31': {'1. open': '19.4600',
  '2. high': '19.7300',
  '3. low': '16.2399',
  '4. close': '16.7700',
  '5. volume': '407597519'},
 '2016-04-29': {'1. open': '13.2100',
  '2. high': '19.4000',
  '3. low': '13.0400',
  '4. close': '19.3700',
  '5. volume': '394599245'},
 '2016-03-31': {'1. open': '14.0000',
  '2. high': '15.5200',
  '3. low': '12.6400',
  '4. close': '13.5800',
  '5. volume': '487255251'},
 '2016-02-29': {'1. open': '10.0300',
  '2. high': '14.4500',
  '3. low': '9.6550',
  '4. close': '13.8900',
  '5. volume': '519944131'},
 '2016-01-29': {'1. open': '7.6900',
  '2. high': '9.9500',
  '3. low': '7.3850',
  '4. close': '9.9100',
  '5. volume': '484186132'},
 '2015-12-31': {'1. open': '7.3800',
  '2. high': '8.1000',
  '3. low': '6.9400',
  '4. close': '7.3800',
  '5. volume': '325166831'},
 '2015-11-30': {'1. open': '7.6100',
  '2. high': '8.0000',
  '3. low': '6.9000',
  '4. close': '7.3400',
  '5. volume': '297697203'},
 '2015-10-30': {'1. open': '6.4100',
  '2. high': '8.3300',
  '3. low': '6.1300',
  '4. close': '7.6900',
  '5. volume': '448100754'},
 '2015-09-30': {'1. open': '7.0300',
  '2. high': '7.1800',
  '3. low': '5.9100',
  '4. close': '6.3600',
  '5. volume': '418117556'},
 '2015-08-31': {'1. open': '7.0200',
  '2. high': '8.5150',
  '3. low': '6.5100',
  '4. close': '6.9500',
  '5. volume': '518971256'},
 '2015-07-31': {'1. open': '10.6300',
  '2. high': '11.0000',
  '3. low': '6.7900',
  '4. close': '7.0600',
  '5. volume': '481493778'},
 '2015-06-30': {'1. open': '11.9400',
  '2. high': '12.1700',
  '3. low': '10.5600',
  '4. close': '10.6600',
  '5. volume': '240978712'},
 '2015-05-29': {'1. open': '12.8500',
  '2. high': '13.6050',
  '3. low': '11.5300',
  '4. close': '11.8600',
  '5. volume': '210443083'},
 '2015-04-30': {'1. open': '11.0700',
  '2. high': '13.7000',
  '3. low': '11.0600',
  '4. close': '13.0200',
  '5. volume': '272364425'},
 '2015-03-31': {'1. open': '13.0400',
  '2. high': '13.1100',
  '3. low': '10.2900',
  '4. close': '10.9600',
  '5. volume': '317816044'},
 '2015-02-27': {'1. open': '12.5200',
  '2. high': '13.2400',
  '3. low': '11.8800',
  '4. close': '13.0200',
  '5. volume': '280880703'},
 '2015-01-30': {'1. open': '10.5400',
  '2. high': '13.2500',
  '3. low': '10.1500',
  '4. close': '12.7800',
  '5. volume': '477191470'},
 '2014-12-31': {'1. open': '12.2100',
  '2. high': '12.5200',
  '3. low': '10.0400',
  '4. close': '10.7500',
  '5. volume': '363952597'},
 '2014-11-28': {'1. open': '11.8200',
  '2. high': '13.3250',
  '3. low': '10.9000',
  '4. close': '11.8900',
  '5. volume': '327463091'},
 '2014-10-31': {'1. open': '14.7600',
  '2. high': '15.0300',
  '3. low': '11.3300',
  '4. close': '11.8700',
  '5. volume': '325794920'},
 '2014-09-30': {'1. open': '18.0400',
  '2. high': '18.1300',
  '3. low': '14.5500',
  '4. close': '14.6600',
  '5. volume': '218993340'},
 '2014-08-29': {'1. open': '18.2700',
  '2. high': '19.3600',
  '3. low': '17.7500',
  '4. close': '18.3900',
  '5. volume': '142809097'},
 '2014-07-31': {'1. open': '18.3000',
  '2. high': '19.4900',
  '3. low': '18.0200',
  '4. close': '18.0800',
  '5. volume': '209647056'},
 '2014-06-30': {'1. open': '16.0700',
  '2. high': '18.3400',
  '3. low': '15.6900',
  '4. close': '18.3000',
  '5. volume': '184062150'},
 '2014-05-30': {'1. open': '17.2800',
  '2. high': '17.6500',
  '3. low': '15.4700',
  '4. close': '16.1100',
  '5. volume': '183461557'},
 '2014-04-30': {'1. open': '17.9300',
  '2. high': '19.2200',
  '3. low': '17.1700',
  '4. close': '17.4700',
  '5. volume': '241653889'},
 '2014-03-31': {'1. open': '20.9400',
  '2. high': '21.1000',
  '3. low': '17.7200',
  '4. close': '17.8300',
  '5. volume': '241941744'},
 '2014-02-28': {'1. open': '19.4800',
  '2. high': '21.4500',
  '3. low': '18.3400',
  '4. close': '20.3800',
  '5. volume': '273776366'},
 '2014-01-31': {'1. open': '17.9600',
  '2. high': '19.9500',
  '3. low': '17.5800',
  '4. close': '19.2800',
  '5. volume': '305036970'},
 '2013-12-31': {'1. open': '16.2500',
  '2. high': '17.6500',
  '3. low': '15.2600',
  '4. close': '17.6300',
  '5. volume': '341241436'},
 '2013-11-29': {'1. open': '18.1600',
  '2. high': '18.4600',
  '3. low': '15.9000',
  '4. close': '16.4900',
  '5. volume': '438159102'},
 '2013-10-31': {'1. open': '18.1700',
  '2. high': '20.6200',
  '3. low': '17.1300',
  '4. close': '19.3900',
  '5. volume': '320916076'},
 '2013-09-30': {'1. open': '19.4400',
  '2. high': '20.3899',
  '3. low': '17.3899',
  '4. close': '18.6200',
  '5. volume': '336302179'},
 '2013-08-30': {'1. open': '17.3400',
  '2. high': '21.2000',
  '3. low': '15.5300',
  '4. close': '19.1500',
  '5. volume': '400035692'},
 '2013-07-31': {'1. open': '15.8900',
  '2. high': '18.1500',
  '3. low': '13.4300',
  '4. close': '16.9700',
  '5. volume': '421377532'},
 '2013-06-28': {'1. open': '21.3100',
  '2. high': '21.6800',
  '3. low': '14.6700',
  '4. close': '15.7400',
  '5. volume': '369683913'},
 '2013-05-31': {'1. open': '19.2200',
  '2. high': '21.7000',
  '3. low': '18.4700',
  '4. close': '21.1200',
  '5. volume': '418675100'},
 '2013-04-30': {'1. open': '29.3200',
  '2. high': '29.3900',
  '3. low': '17.5100',
  '4. close': '19.7100',
  '5. volume': '583695616'},
 '2013-03-28': {'1. open': '30.4100',
  '2. high': '30.4600',
  '3. low': '28.3100',
  '4. close': '29.4000',
  '5. volume': '195097157'},
 '2013-02-28': {'1. open': '32.2700',
  '2. high': '33.3600',
  '3. low': '30.1400',
  '4. close': '30.2400',
  '5. volume': '201715386'},
 '2013-01-31': {'1. open': '35.9200',
  '2. high': '36.0800',
  '3. low': '31.8100',
  '4. close': '31.9200',
  '5. volume': '174949777'},
 '2012-12-31': {'1. open': '34.6200',
  '2. high': '35.5300',
  '3. low': '32.8100',
  '4. close': '35.0100',
  '5. volume': '138957115'},
 '2012-11-30': {'1. open': '37.4900',
  '2. high': '38.0000',
  '3. low': '32.8700',
  '4. close': '34.5300',
  '5. volume': '179121743'},
 '2012-10-31': {'1. open': '42.2100',
  '2. high': '42.5400',
  '3. low': '38.2401',
  '4. close': '40.5000',
  '5. volume': '135978922'},
 '2012-09-28': {'1. open': '38.6800',
  '2. high': '43.1900',
  '3. low': '37.2502',
  '4. close': '41.7600',
  '5. volume': '172368953'},
 '2012-08-31': {'1. open': '32.8000',
  '2. high': '38.6800',
  '3. low': '31.4800',
  '4. close': '38.5200',
  '5. volume': '171300080'},
 '2012-07-31': {'1. open': '37.6300',
  '2. high': '39.0000',
  '3. low': '31.0000',
  '4. close': '32.8800',
  '5. volume': '190940461'},
 '2012-06-29': {'1. open': '40.2000',
  '2. high': '43.3000',
  '3. low': '35.5500',
  '4. close': '37.5700',
  '5. volume': '226189903'},
 '2012-05-31': {'1. open': '40.5800',
  '2. high': '40.7600',
  '3. low': '34.8200',
  '4. close': '39.0600',
  '5. volume': '204444868'},
 '2012-04-30': {'1. open': '43.6800',
  '2. high': '44.5000',
  '3. low': '38.4600',
  '4. close': '40.4300',
  '5. volume': '150602794'},
 '2012-03-30': {'1. open': '47.8800',
  '2. high': '48.5900',
  '3. low': '42.2000',
  '4. close': '43.4800',
  '5. volume': '183830924'},
 '2012-02-29': {'1. open': '49.9400',
  '2. high': '50.3900',
  '3. low': '45.8900',
  '4. close': '47.7300',
  '5. volume': '137088986'},
 '2012-01-31': {'1. open': '46.2700',
  '2. high': '50.2300',
  '3. low': '45.2000',
  '4. close': '49.2600',
  '5. volume': '149116448'},
 '2011-12-30': {'1. open': '52.5500',
  '2. high': '53.1400',
  '3. low': '43.7207',
  '4. close': '45.2500',
  '5. volume': '144265837'},
 '2011-11-30': {'1. open': '47.7200',
  '2. high': '53.2600',
  '3. low': '47.1900',
  '4. close': '52.8800',
  '5. volume': '134600542'},
 '2011-10-31': {'1. open': '47.2400',
  '2. high': '50.9900',
  '3. low': '42.8900',
  '4. close': '49.5000',
  '5. volume': '162911653'},
 '2011-09-30': {'1. open': '50.7100',
  '2. high': '55.9500',
  '3. low': '45.1500',
  '4. close': '46.6500',
  '5. volume': '197682087'},
 '2011-08-31': {'1. open': '48.0900',
  '2. high': '52.7800',
  '3. low': '44.5900',
  '4. close': '50.7500',
  '5. volume': '251005962'},
 '2011-07-29': {'1. open': '45.1000',
  '2. high': '51.0000',
  '3. low': '44.2500',
  '4. close': '47.5700',
  '5. volume': '157535520'},
 '2011-06-30': {'1. open': '48.0000',
  '2. high': '48.2200',
  '3. low': '42.5000',
  '4. close': '45.2900',
  '5. volume': '159423256'},
 '2011-05-31': {'1. open': '50.9300',
  '2. high': '51.0000',
  '3. low': '44.2500',
  '4. close': '47.7600',
  '5. volume': '207194426'},
 '2011-04-29': {'1. open': '51.7000',
  '2. high': '55.7400',
  '3. low': '49.5618',
  '4. close': '51.0100',
  '5. volume': '204314374'},
 '2011-03-31': {'1. open': '53.4800',
  '2. high': '54.2600',
  '3. low': '47.9000',
  '4. close': '51.9100',
  '5. volume': '169791574'},
 '2011-02-28': {'1. open': '48.2400',
  '2. high': '53.0100',
  '3. low': '47.1000',
  '4. close': '52.8200',
  '5. volume': '160869644'},
 '2011-01-31': {'1. open': '53.9200',
  '2. high': '53.9300',
  '3. low': '45.6000',
  '4. close': '47.5100',
  '5. volume': '226666634'},
 '2010-12-31': {'1. open': '52.0900',
  '2. high': '55.7200',
  '3. low': '50.6500',
  '4. close': '53.1800',
  '5. volume': '141219875'},
 '2010-11-30': {'1. open': '48.4600',
  '2. high': '53.4400',
  '3. low': '47.6300',
  '4. close': '51.6500',
  '5. volume': '201018912'},
 '2010-10-29': {'1. open': '46.8500',
  '2. high': '49.6600',
  '3. low': '44.8600',
  '4. close': '48.0900',
  '5. volume': '193539685'},
 '2010-09-30': {'1. open': '47.3200',
  '2. high': '47.5600',
  '3. low': '43.8300',
  '4. close': '46.2900',
  '5. volume': '185884399'},
 '2010-08-31': {'1. open': '41.7700',
  '2. high': '47.5000',
  '3. low': '40.6600',
  '4. close': '46.7600',
  '5. volume': '150314900'},
 '2010-07-30': {'1. open': '45.0800',
  '2. high': '45.3400',
  '3. low': '39.6700',
  '4. close': '41.1000',
  '5. volume': '195388198'},
 '2010-06-30': {'1. open': '42.5100',
  '2. high': '47.2500',
  '3. low': '41.1300',
  '4. close': '45.4100',
  '5. volume': '219761446'},
 '2010-05-28': {'1. open': '43.9500',
  '2. high': '47.2100',
  '3. low': '39.9500',
  '4. close': '42.0800',
  '5. volume': '271599427'},
 '2010-04-30': {'1. open': '38.9500',
  '2. high': '44.3700',
  '3. low': '38.1400',
  '4. close': '43.5500',
  '5. volume': '207584878'},
 '2010-03-31': {'1. open': '38.1000',
  '2. high': '40.8000',
  '3. low': '36.6900',
  '4. close': '38.3400',
  '5. volume': '229580534'},
 '2010-02-26': {'1. open': '35.1900',
  '2. high': '40.0000',
  '3. low': '33.6500',
  '4. close': '37.6600',
  '5. volume': '242965617'},
 '2010-01-29': {'1. open': '40.7000',
  '2. high': '42.6400',
  '3. low': '34.6300',
  '4. close': '34.8200',
  '5. volume': '227336979'},
 '2009-12-31': {'1. open': '44.1200',
  '2. high': '48.0200',
  '3. low': '38.1300',
  '4. close': '39.3800',
  '5. volume': '337470148'},
 '2009-11-30': {'1. open': '36.8600',
  '2. high': '45.8200',
  '3. low': '35.5000',
  '4. close': '42.6900',
  '5. volume': '262485788'},
 '2009-10-30': {'1. open': '38.1000',
  '2. high': '40.5100',
  '3. low': '34.5000',
  '4. close': '35.9300',
  '5. volume': '315426165'},
 '2009-09-30': {'1. open': '34.9100',
  '2. high': '42.1000',
  '3. low': '34.4150',
  '4. close': '37.9000',
  '5. volume': '388861490'},
 '2009-08-31': {'1. open': '35.6800',
  '2. high': '36.7100',
  '3. low': '32.1700',
  '4. close': '34.7000',
  '5. volume': '138610399'},
 '2009-07-31': {'1. open': '34.2200',
  '2. high': '36.0300',
  '3. low': '30.6700',
  '4. close': '34.9000',
  '5. volume': '144872926'},
 '2009-06-30': {'1. open': '38.5500',
  '2. high': '38.6300',
  '3. low': '31.6200',
  '4. close': '33.5500',
  '5. volume': '200804262'},
 '2009-05-29': {'1. open': '29.0000',
  '2. high': '38.9600',
  '3. low': '28.7700',
  '4. close': '38.0800',
  '5. volume': '202930587'},
 '2009-04-30': {'1. open': '33.0700',
  '2. high': '34.0400',
  '3. low': '27.0900',
  '4. close': '29.1000',
  '5. volume': '230240622'},
 '2009-03-31': {'1. open': '30.6800',
  '2. high': '34.2400',
  '3. low': '25.5400',
  '4. close': '32.4200',
  '5. volume': '343903255'},
 '2009-02-27': {'1. open': '36.3300',
  '2. high': '39.6300',
  '3. low': '29.3800',
  '4. close': '30.2000',
  '5. volume': '304377653'},
 '2009-01-30': {'1. open': '35.9700',
  '2. high': '40.9000',
  '3. low': '30.7900',
  '4. close': '37.4900',
  '5. volume': '338715379'},
 '2008-12-31': {'1. open': '27.6200',
  '2. high': '37.8400',
  '3. low': '22.6600',
  '4. close': '36.7700',
  '5. volume': '301850895'},
 '2008-11-28': {'1. open': '23.3700',
  '2. high': '29.7000',
  '3. low': '19.1100',
  '4. close': '29.4600',
  '5. volume': '276293514'},
 '2008-10-31': {'1. open': '36.7100',
  '2. high': '39.2300',
  '3. low': '17.2700',
  '4. close': '22.7400',
  '5. volume': '472239017'},
 '2008-09-30': {'1. open': '32.9500',
  '2. high': '39.5900',
  '3. low': '26.0200',
  '4. close': '36.7400',
  '5. volume': '435832877'},

In [34]:
gold_json["Monthly Time Series"]['2020-08-20']

{'1. open': '28.8000',
 '2. high': '31.2200',
 '3. low': '25.8700',
 '4. close': '29.9500',
 '5. volume': '339358405'}

In [35]:
gold_json["Monthly Time Series"]['2020-08-20']['1. open']

'28.8000'

In [36]:
gold_index_df = pd.DataFrame(gold_json["Monthly Time Series"])
gold_index_df

,2020-08-20,2020-07-31,2020-06-30,2020-05-29,2020-04-30,2020-03-31,2020-02-28,2020-01-31,2019-12-31,2019-11-29,...,2000-09-29,2000-08-31,2000-07-31,2000-06-30,2000-05-31,2000-04-28,2000-03-31,2000-02-29,2000-01-31,1999-12-31
1. open,28.8000,26.9800,24.1000,25.2800,18.4100,19.4200,18.3700,18.7100,16.7600,17.2200,...,16.0000,16.0600,18.1900,18.1900,16.6300,15.6900,16.6300,16.2500,17.5600,17.9400
2. high,31.2200,30.2000,27.0400,28.3600,28.5000,21.8300,22.5700,19.1700,18.8300,17.3200,...,16.5600,17.6900,18.3800,20.0000,19.1300,17.8100,17.3100,19.7500,17.8800,18.7500
3. low,25.8700,25.8800,22.1300,23.0600,18.2600,12.6500,17.6300,17.2600,16.7300,16.0650,...,14.8100,15.6300,15.8100,17.2500,16.6300,15.5000,15.5600,15.9400,16.1900,17.1900
4. close,29.9500,28.9100,26.9400,24.0000,25.7200,18.3200,19.0400,18.5200,18.5900,16.8000,...,15.2500,15.9600,15.9400,18.1700,18.1300,16.8100,15.6900,16.3100,16.3800,17.6900
5. volume,339358405,344142856,385135435,371913554,454409620,599789243,344457675,254421406,219547830,217562449,...,27088600,24942800,18627300,29166000,39834900,35090400,34786700,41421300,30307800,29037000

In [37]:
gold_index_df = gold_index_df.transpose()
gold_index_df

            1. open  2. high   3. low 4. close  5. volume
2020-08-20  28.8000  31.2200  25.8700  29.9500  339358405
2020-07-31  26.9800  30.2000  25.8800  28.9100  344142856
2020-06-30  24.1000  27.0400  22.1300  26.9400  385135435
2020-05-29  25.2800  28.3600  23.0600  24.0000  371913554
2020-04-30  18.4100  28.5000  18.2600  25.7200  454409620
...             ...      ...      ...      ...        ...
2000-04-28  15.6900  17.8100  15.5000  16.8100   35090400
2000-03-31  16.6300  17.3100  15.5600  15.6900   34786700
2000-02-29  16.2500  19.7500  15.9400  16.3100   41421300
2000-01-31  17.5600  17.8800  16.1900  16.3800   30307800
1999-12-31  17.9400  18.7500  17.1900  17.6900   29037000

[249 rows x 5 columns]

TypeError: unsupported operand type(s) for -: 'str' and 'str'